<a href="https://colab.research.google.com/github/KONDUKASANJALI/test-cases-python/blob/main/07_08_23(solved_questions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cars=["bmw","kia","audi","toyoto"]
# if car is audi then print audi in capitals, if not the first letter only should be in upper.

In [ ]:
for car in cars:
  if car=="audi":
   print(car.upper())
  else:
    print(car.title())

Bmw
Kia
AUDI
Toyoto

solving given questions(07/08/2023)

In [ ]:
# how can you convert number to string with an example

In [1]:
books = 53

In [2]:
# type casting method
num_books =str(books)
print(num_books)
type(books)

53

int

In [3]:
# second method
books = 53
type(books)

int

In [4]:
books ="53"
type(books)

str

In [ ]:
# write a program to find distinct colors from below lst

In [5]:
colors=["red","Yellow","red","green","green"]

In [6]:
dist_colors=set(colors)

In [7]:
print(dist_colors)

{'red', 'Yellow', 'green'}

In [8]:
# write a program to find out largest number in array

In [9]:
arr1=[23,45,67,89,65,43]
print(arr1)

[23, 45, 67, 89, 65, 43]

In [10]:
max(arr1)

89

In [ ]:
# write a program to find common letters from string ["FLASH","SMASH"]

In [11]:
x="FLASH"
y="SMASH"
lst=list()

In [12]:
for i in x:
  for m in y:
    if i==m:
      lst.append(i)
    print(lst)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
['A']
['A']
['A']
['A', 'S']
['A', 'S']
['A', 'S']
['A', 'S', 'S']
['A', 'S', 'S']
['A', 'S', 'S']
['A', 'S', 'S']
['A', 'S', 'S']
['A', 'S', 'S']
['A', 'S', 'S', 'H']

In [13]:
lst1=set(lst)

In [14]:
lst1

{'A', 'H', 'S'}

In [ ]:
# write a program to find out total number of vowels from below string

In [15]:
stri=("You learn more from failures then from success")

In [16]:
stri

'You learn more from failures then from success'

In [17]:
vowel=['a','e','i','o','u']

In [18]:
vowel

['a', 'e', 'i', 'o', 'u']

In [19]:
Num_lst=list()

In [20]:
for i in stri:
 for x in vowel:
   if i==x:
      Num_lst.append(i)

In [21]:
print(Num_lst)

['o', 'u', 'e', 'a', 'o', 'e', 'o', 'a', 'i', 'u', 'e', 'e', 'o', 'u', 'e']

In [22]:
len(Num_lst)

15

In [23]:
total_vowels =len(Num_lst)
total_vowels

15

In [25]:
# copying objects in lst and tuple
Lst=[1,3,4,5]
# copying the object in list
Lst1=list()
print(Lst1)
# using copy()
Lst1=Lst.copy()
print(Lst1)
Lst2 =Lst1[1:3]
print(Lst2)

[]
[1, 3, 4, 5]
[3, 4]

In [26]:
# copying the object into tuple
tup1=(1,2,3,"string",2.35)
tup2=tup1[:]
tup2

(1, 2, 3, 'string', 2.35)

In [ ]:
#write a program to find total number of elements that are exactly divided by 10 from below list

In [27]:
Lst=[10,20,35,40,50,45]

In [28]:
num1_lst =list()

In [29]:
for i in Lst:
   if i%10==0:
    num1_lst.append(i)
    print(num1_lst)
   else:
    print("number not divisible by 10")

[10]
[10, 20]
number not divisible by 10
[10, 20, 40]
[10, 20, 40, 50]
number not divisible by 10

In [30]:
len(num1_lst)

4