<a href="https://colab.research.google.com/github/KONDUKASANJALI/test-cases-python/blob/main/Untitled40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

program to make a userfriendly caluculator

In [ ]:
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def mul(a,b):
  return(a*b)
def div(a,b):
  return(a/b)

In [ ]:
print("1. ADDITION")
print("2.SUBTRACTION")
print("3.MULTIPLICATION")
print("4.DIVISION")
print("please select option 1/2/3/4")

1. ADDITION
2.SUBTRACTION
3.MULTIPLICATION
4.DIVISION
please select option 1/2/3/4

In [ ]:
choice=int(input("choose an option: "))
x=int(input("Enter a number: "))
y=int(input("Enter a number:"))

choose an option: 3
Enter a number: 8
Enter a number:8

In [ ]:
if choice==1:
  n=add(x,y)
  print("Addtion is = ",n)
elif choice==2:
  n=sub(x,y)
  print("Subtraction is = ",n)
elif choice==3:
  n=mul(x,y)
  print("Multiplication is = ",n)
elif choice==4:
  n=div(x,y)
  print("Division is = ",n)
else:
  print("Invalid option choosed")

Multiplication is =  64